@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@300;400;500;600;700;800;900&display-swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
    color: #000000;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    position: relative; 
}

.container {
    position: relative; 
    text-align: center;
}

.title {
    position: absolute;
    top: 20px; 
    left: 20px;
}

.logo {
    position: absolute; 
    top: 20px; 
    right: 20px; 
}

.form-box {
    width: 90%;
    max-width: 400px;
    margin: 0 auto; 
    background: white;
    padding: 30px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius:40px;

}

.form-box input[type="text"],
.form-box input[type="password"] {
    width: 88%;
    padding: 20px 45px 20px 20px ;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 40px;

}
.bx {
    
        position: relative;
        right: 35px;
        top: 50%;
        font-size: 20px;
    }


.form-box button {
    background-color: red;
    color: white;
    padding: 20px 45px 20px 20px;
    border: 2px solid;
    cursor: pointer;
    border-radius: 40px;
    width: 80%;
}

.form-box button:hover {
    background-color: darkred;
}
